<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Editar Produto</title>
</head>
<body>

    <h1>Editar Produto</h1>

    <form action="/atualizar/{{ produto.id }}" method="POST">

    

        <input
                type="text"
                name="nome"
                value="{{ produto.nome }}"
                required
        >
        <input
                type="number"
                step="0.01"
                name="preco"
                value="{{ produto.preco }}"
                required
        >
        <input
                type="number"
                name="estoque"
                value="{{ produto.estoque }}"
                required   
        >

        <button type="submit">
            Atualizar
        </button>
    </form>

    <br>

    <a href="/">
        Voltar para a lista de produtos
    </a>

</body>
</html>